[Unit]
Description=beatble service
BindsTo=dev-input-phoenixwan.device
After=dev-input-phoenixwan.device

[Service]
Type=simple
Environment="RUST_LOG=debug"
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/beatble /dev/input/js.phoenixwan --sleep-duration 8
