[Unit]
Description=beatble service
BindsTo=dev-input-phoenixwan.device
After=dev-input-phoenixwan.device

[Service]
Type=simple
Environment="RUST_LOG=debug"
Environment="SLEEP_DURATION=8"
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/beatble
